---
layout: layout
title: "Aayush Ahuja"
---
{% for post in site.posts offset: 0 limit: 50 %}

<div class="row">
  <div class="span7">    
    <div class="row">
      <div class="span2">
        <a href="{{ post.url }}" >
            <img border="0" width="170" height="85" src="http://lorempixel.com/400/200/" alt="">
        </a>
      </div>
      <div class="span5">
		<h4><strong><a href="{{ post.url }}">{{ post.title }}</a></strong></h4>      
        <p>
          {{ post.summary }}
        </p>
		<p>
          <i class="icon-calendar"></i> {{ post.date | date: "%B %e, %Y" }}
          | <i class="icon-comment"></i> <a href="http://hyades.github.com{{ post.url }}#disqus_thread" data-disqus-identifier="{{ post.url }}"></a>     
		  | <i class="icon-tags"></i> Tags :{% for tag in post.tags %} <a href="/tags/{{ tag }}" rel="tooltip" title="View posts tagged with &quot;{{ tag }}&quot;"><span class="label label-info">{{ tag }}</span></a>  {% if forloop.last != true %} {% endif %} {% endfor %}		            
        </p>
        <p><a href="{{ post.url }}">Read more</a></p>
      </div>
    </div>    
	<hr>
  </div>
</div>
{% endfor %}	
			