<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
	<div class="container">
	  <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
	  </a>
	  <a class="brand" href="http://hyades.github.com">Eric Jones</a>
	  <div class="nav-collapse">
		<ul class="nav">		  
		  <li class="">
			<a href="http://hyades.github.com">Home</a>
		  </li>
		  <li class="divider-vertical"></li>
		  <li class="">
			<a href="http://github.com/hyades" target="_blank">GitHub</a>
		  </li>
		  <li class="divider-vertical"></li>
		 	
		  <li class="divider-vertical"></li>
		  <li class="">
			<a href="http://www.linkedin.com/in/aayushahuja" title="Go to linkedin profile" target="_blank">LinkedIn</a>
		  </li>		
		  <li class="divider-vertical"></li>
		  <li class="">
			<a href="http://www.twitter.com/aayushahuja" title="Go to twitter.com/aayushahuja" target="_blank">Twitter</a>  
		  </li>				  			  
		  <li class="divider-vertical"></li>
		  <li class="">
			<a href="http://feeds.feedburner.com/github/hyades" title="Go to feedburner" target="_blank">RSS</a>  
		
		  <li class="divider-vertical"></li>
		  <li class="dropdown">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown">Projects<b class="caret"></b></a>
				<ul class="dropdown-menu">					
					<li class=""><a href="https://github.com/hyades/compiler" rel="tooltip" title="Go to compiler on GitHub" target="_blank">compiler</a></li>					
					<li class=""><a href="https://github.com/hyades/ex-opti" rel="tooltip" title="Go to EX-Opti on GitHub" target="_blank">Ex-Opti</a></li>
					<li class=""><a href="https://github.com/hyades/video" rel="tooltip" title="Go to Video on GitHub" target="_blank">Video</a></li>
					<li class=""><a href="https://github.com/hyades/file-hider" rel="tooltip" title="Go to File-Hider on GitHub" target="_blank">File Hider</a></li>			
					<li class=""><a href="https://github.com/hyades/dc-hacks" rel="tooltip" title="Go to DC-Hacks on GitHub" target="_blank">DC-Hacks</a></li>	
					<li class=""><a href="https://github.com/hyades/optimus-webwizard" rel="tooltip" title="Go to Optimus-Webwizard on GitHub" target="_blank">Optimus-Webwizard</a></li>	
				</ul>
			  </li>		  
		<li class="divider-vertical"></li>
		</ul>		
	  </div>
	</div>
  </div>
</div>