<!DOCTYPE html>
<html class="fuelux" lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

	<!-- Le styles -->
	<link href="http://fuelcdn.com/fuelux/2.2/css/fuelux.css" rel="stylesheet" />
	<link href="http://fuelcdn.com/fuelux/2.2/css/fuelux-responsive.css" rel="stylesheet" />
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js" type="text/javascript"></script>
	<script src="http://fuelcdn.com/fuelux/2.2/loader.min.js" type="text/javascript"></script>
    <link href="/css/docs.css" rel="stylesheet">    
	<link href="/js/google-code-prettify/prettify.css" rel="stylesheet">	
	
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="/favicon.ico">    
  </head>
<body data-spy="scroll" data-target=".subnav" data-offset="50">
{% include navigation.html %}
<div class="container">
	<div class="marketing">
		<div class="content">	  
			<div class="row">				    
				<div class="span8 columns">								
					{{ content }} 	
				<h2>Comments Section</h2>
						<p>If you have questions or would like to comment on your experience please do so.</p>	
						<div id="disqus_thread"></div>
						<script type="text/javascript">
							/* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
							var disqus_shortname = 'hyades'; // required: replace example with your forum shortname
							var disqus_identifier = '/forsale.html';
							var disqus_url = 'http://hyades.github.com/forsale.html';
							
							/* * * DON'T EDIT BELOW THIS LINE * * */
							(function() {
								var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
								dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
								(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
							})();
						</script>
						<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
						<a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>					
				</div>	
				<div class="span3 columns">
				  <h2>Terms & Conditions</h2>
				  <p><ul>
					<li>I only ship to continental U.S.</li>					
					<li>When in doubt just <a href="mailto:erjjones@gmail.com">send me a message</a>.</li>					
				  </ul></p>	
				  <h2>Shipping</h2>				  
				  <p><ul>
					<li>If you are local to Indianapolis, Indiana I am willing to drop the shipping and arrange pickup of items.</li>					
				  </ul></p>
				  <h2>Forums</h2>				  
				  <p><ul>
					<li>Posted sale on a <a href="http://www.clubcivic.com/board/showthread.php?p=3250154#post3250154" target="_blank">ClubCivic.com forum</a></li>
					<li>Posted sale on a <a href="http://www.civicforums.com/forums/193-parts-sale/349808-fs-99-00-civic-si-turbo-kit-wanting-stock-parts.html" target="_blank">CivicForums.com forum</a></li>					
				  </ul></p>
				  <h2>Discussion </h2>
				  <p><ul>
					<li>For general questions and or comments feel free to use the comment board at the bottom of the page.</li>  
					<li>Currently posting <a href="http://erjjones.github.com/forsale.html#disqus_thread" data-disqus-identifier="/forsale.html">comments</a> on this thread.</li>
				  </ul></p>
				  <h2>Wanting</h2>
				  <p><ul>
					<li>00 Civic Headers</li>  
					<li>00 Civic Oil pan</li>  
					<li>00 Civic Rear bumper (black)</li>  
					<li>00 Civic A/C Lines</li>  
					<li>00 Civic Downpipe</li>  
				  </ul></p>
				</div>					
				<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
			</div>
		</div>
	</div>

	{% include footer.html %}

 </div><!-- /container -->



    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
	<script src="/js/custom.js" type="text/javascript"></script>

	<script type="text/javascript">
		/* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
		var disqus_shortname = 'aayushahuja'; // required: replace example with your forum shortname

		/* * * DON'T EDIT BELOW THIS LINE * * */
		(function () {
			var s = document.createElement('script'); s.async = true;
			s.type = 'text/javascript';
			s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
			(document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
		}());
	</script>
	
	<!-- Google Analytics -->
	<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-41289176-1', 'github.com');
  ga('send', 'pageview');

</script>
  </body>
</html>
