---
layout: default
---
<div class="container">
	<div class="marketing">
		<div class="content">	  
			<div class="row">								
			    <div class="span6 columns">
					<h2>{{page.title}}</h2>
					<table class="table table-striped">
					  <tbody>
						{% for post in site.posts %}	
						{% for tag in post.tags %}
						{% if tag == page.tag %}
						<tr>
						  <td>
							<h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
							<p><strong>{{ post.date | date: "%B %e, %Y" }}</strong> . {{ post.category }} . <a href="http://hyades.github.com{{ post.url }}#disqus_thread" data-disqus-identifier="{{ post.url }}"></a>
							<br/><small><i>{{ post.summary }}</i></small>
							<br/><small><i class="icon-tags"></i> {% for tag in post.tags %} <a href="/tags/{{ tag }}" title="View posts tagged with &quot;{{ tag }}&quot;"><u>{{ tag }}</u></a>  {% if forloop.last != true %} {% endif %} {% endfor %} </small></p>
						  </td>
						</tr>
						{% endif %}
						{% endfor %}
						{% endfor %}			
					  </tbody>
					</table> 
				</div>
			</div>
		</div>
	</div>		
</div>